.bannermain{
    position: fixed;
    bottom: 0;
    max-height: 80%;
    max-width: 80%;
    right: 0;
}
.bannerdiv{
    position: fixed;
    z-index: 2;
    border: 1px solid #fff;
    padding: 50px;
    margin-top: 7%;
    margin-left: 5%;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 5px 10px 10px #888;
    max-width: 500px;
}

.div-change-pass{
    text-align: right;
    font-family: 'Tahoma';
}

.div-change-pass > a{
    color: #fff !important;
}

.div-change-pass a :hover{
    color: #fff;
}

.btnsetting{
    z-index: 3;
    display: flex;
    position: fixed;
    height: 30px;
    width: 30px;
    align-items: center;
    text-align: center;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border-color: transparent;
}
.btnsetting :hover{
    background-color: transparent;
    border-color: transparent;
    color: blue;
}