.imgnav {
    width: -webkit-fill-available;
}

.ebomtitle {
    border: 1px solid black;
    font-family: 'Tahoma';
    font-size: 14px;
    display: flex !important;
}

h5 {
    margin: 0;
    padding: 5px;
    font-weight: bold !important;
}

p {
    margin: 0 !important;
    padding: 2px;
}

.editable-row .ant-form-item-explain {
    position: absolute;
    top: 100%;
    font-size: 12px;
    padding: 0;
}

.red {
    color: red;

}

.green {
    color: green;
}

@media screen and (max-width: 1920px) {
    .tbebomchild .ant-table-body {
        height: -webkit-fill-available;
        max-height: 62vh !important
    }
}

@media screen and (max-width: 1366px) {
    .tbebomchild .ant-table-body {
        height: -webkit-fill-available;
        max-height: 46vh !important
    }
}

@media screen and (min-width: 1920px) {
    .tbebomchild .ant-table-body {
        height: -webkit-fill-available;
        max-height: 89vh !important
    }
}