table{
    height: inherit !important;
}
.tabledata{
    font-family: Tahoma;
    font-size: 14px;
    width: inherit;
}

table thead tr th{
    font-weight: bold !important;
    color: #00549A !important;
    text-align: center !important;
}
@media screen and (max-width: 1920px){
    .tabledatamaterial .ant-table-body{
        height: -webkit-fill-available;
        max-height: 46vh !important
    }
}
@media screen and (max-width: 1366px){
   .tabledatamaterial .ant-table-body{
        height: -webkit-fill-available;
        max-height: 40vh !important
    }
}
@media screen and (min-width: 1920px){
    .tabledatamaterial .ant-table-body{
        height: -webkit-fill-available;
        max-height: 73vh !important
    }
}

.tabledata::-webkit-scrollbar {
    width: 12px !important;
}

.tabledata::-webkit-scrollbar-track {
    background-color: transparent !important;
}

.tabledata::-webkit-scrollbar-thumb {
    background-color: #444243 !important;
    border-radius: 6px  !important;
    border: 3px solid transparent !important;
    background-clip: content-box !important;
}

.tabledata::-webkit-scrollbar-thumb:hover {
    background-color: #444243;
}